
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,600;1,300&display=swap');


.nav{
  font-family: 'Montserrat', sans-serif;
  color: #288042;
}

.content{
   justify-content: center;
}

h1{
  font-family: 'Montserrat', sans-serif;

}

p{
  font-family: 'Montserrat', sans-serif;
  font-size: x-small;
}


.line{
  height: 1px;
  background-color: #82BF3E;

}


.nav:hover{
  color: #288042 !important;

}


