@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@300&display=swap');


.contain{
    background-color:  #82BF3E ;
  }

h2, h3{
  font-family: 'M PLUS Rounded 1c', sans-serif;
  
}

.name{
  color:white;
  text-decoration: white;
}


@media (max-width: 1321px){
  
  .map-adress{
    width: 480px !important;
    height: 200px !important;
  }
}