.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:#25d366;
	color:#FFF;
	border-radius:50px;
	text-align:center;
    font-size:35px;
	z-index:300;
	text-decoration: none;
}

.my-float{
	margin-top:15px;
	text-decoration: none;
}


.float:hover{
	background-color:#3A899A;
	color:#FFF;
}
